@import '_base';
.card{
    margin:0 auto;
    margin-top: 5%;
    max-width: 24rem;
    width: 100%;
    padding: 1.5rem;
    border: 0.062em solid $color-black;
    border-radius: 1rem;
    background: $color-white;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px black;
}
.article-img{
    max-height: 12.5rem;
    border-radius: 0.5rem;
}
header{
    margin-top:1.5rem;
}
.category{
    font-size: 0.875rem;
    line-height: 150%;
    font-weight: 800;
    background-color: $color-yellow;
    width: 24%;
    padding:0.2rem ;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
}
.subtitle{
    font-size: 0.875rem;
    margin-bottom: 0.8rem;
    
}
h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
}
main> p{
    color: $color-grey;
}


footer{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
}
footer>img{
    width: 2rem;
}
footer>span{
    font-weight: 800;
    margin-left: 1rem;
}
